{% extends 'school/base.html' %}
{% block content %}
<div class="d-flex justify-content-between mb-4">
    <h2>Розклад занять</h2>
    <a href="{% url 'timetable_create' %}" class="btn btn-primary">Додати запис</a>
</div>
<table class="table table-bordered bg-white shadow-sm">
    <thead class="table-dark">
        <tr>
            <th>Клас</th>
            <th>День</th>
            <th>№</th>
            <th>Предмет</th>
            <th>Вчитель</th>
        </tr>
    </thead>
    <tbody>
        {% for item in timetable %}
        <tr>
            <td>{{ item.school_class.name }}</td>
            <td>{{ item.get_day_display }}</td>
            <td>{{ item.lesson_number }}</td>
            <td>{{ item.subject.name }}</td>
            <td>{{ item.teacher.last_name }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="5" class="text-center">Розклад порожній</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}